:root {
  --red: #f43127;
  --yellow: #f59a1b;
  --green: #22d527;
  --beige-light: #fae4d0;
  --beige: #fae2cb;
  --brown: #3b200b;
  --bg-color: #faf3f2;
  --title-white-39: rgba(255, 255, 255, 0.69);
  --title-white-40: rgba(255, 255, 255, 0.9);
  --title-black-38: rgba(29, 6, 5, 0.4);
  --title-black-39: rgba(29, 6, 5, 0.69);
  --title-black-40: rgba(29, 6, 5, 0.9);
  --title-black-87: #34201f;
  --title-black-88: #3a210b;
  --title-black-60: #635352;
}

.color-red {
  color: var(--red);
}

.color-yellow {
  color: var(--yellow);
}

.color-beige-light {
  color: var(--beige-light);
}

.color-beige {
  color: var(--beige);
}

.color-brown {
  color: var(--brown);
}

.title-black-38 {
  color: var(--title-black-38);
}

.title-black-87 {
  color: var(--title-black-87);
}

.title-black-88 {
  color: var(--title-black-88);
}

.title-black-60 {
  color: var(--title-black-60);
}

.title-white-39 {
  color: var(--title-white-39);
}

.title-white-40 {
  color: var(--title-white-40);
}
