.footer {
  background: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-top: 28px;
}

.footer-content > img {
  width: 265px;
}

.footer-content > nav > ul {
  display: flex;
  gap: 32px;
}

.footer-content > nav > ul li {
  transition: font-weight 250ms;
}

.footer-content > nav > ul li:hover {
  font-weight: 700;
}

.footer-content > .socials-links {
  display: flex;
  gap: 18px;
}

.footer-copy-rights {
  text-align: center;
  padding-bottom: 12px;
}

.footer-copy-rights::before {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(29, 6, 5, 0.15);
  display: block;
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-content > .socials-links {
    order: -1;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .footer-content > a {
    order: -1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content > a img {
    width: 265px;
  }

  .footer-content > a::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(29, 6, 5, 0.15);
    display: block;
    margin-top: 16px;
  }

  .footer-content > nav {
    width: 100%;
  }

  .footer-content > nav::before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(29, 6, 5, 0.15);
    display: block;
    margin-bottom: 16px;
  }

  .footer-content > nav ul {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

}