#header {
  width: 100%;
  background: rgba(59, 32, 11, 0.05);
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 400;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid rgba(60, 33, 12, 0.15);
}

.header-menu nav a {
  display: inline-block;
  padding: 4px 0;
  transition: all 0.3s ease;
}

.header-menu nav a:hover {
  color: var(--title-black-87);
  font-weight: 700;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
}

.header-menu ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links li:last-child {
  border-left: 1px solid #b50b04;
  padding: 3px 0 3px 12px;
}

.button-menu-mobile {
  width: 32px;
  height: 32px;
  place-self: end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  border: none;
  background: rgba(29, 6, 5, 0.15);
  display: none;
  position: relative;
  z-index: 3;
}

.button-menu-mobile i {
  width: 100%;
  height: 3px;
  background: rgba(29, 6, 5, 0.9);
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

.button-menu-mobile.active i:nth-child(2) {
  opacity: 0;
  display: none;
}

.button-menu-mobile.active i:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  width: 80%;
}

.button-menu-mobile.active i:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  width: 80%;
}

.menu-mobile {
  position: absolute;
  z-index: 2;
  width: 30vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-color);
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: start;
  padding: 30px;

  transform: translate3d(400px, 0, 0);
  transition: transform 0.4s ease-in-out;
}

.menu-mobile.active {
  transform: translate3d(0, 0, 0);
}

.menu-mobile ul:first-child {
  display: grid;
  text-align: center;
  gap: 30px;
  place-self: center;
}

.menu-mobile > .header-links {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.menu-mobile > .header-links li:last-child {
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
}

.menu-mobile > .header-links li:nth-child(-n + 2) a {
  width: max-content;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .header-menu {
    display: none;
  }

  .header {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .button-menu-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
  .menu-mobile {
    width: 50vw;
  }
}
