.location {
  padding-top: 100px;
  text-align: center;
  background: var(--bg-color);
}

.location > h1 {
  text-transform: uppercase;
}

.location > p {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .location {
    padding-top: 64px;
  }
}

@media (max-width: 600px) {
  .location > h1 {
    font-size: 1.56rem;
  }
}