#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 577px;
  position: relative;
}

.content-bg {
  background: url('../../assets/banner-menu.png') no-repeat;
  background-size: cover;
  background-position: right;
}

.content-menu-bg {
  background: var(--brown);
}

.content-grid {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  inset: 0;
}
