.open-status-bg {
  background: var(--bg-color);
}

.open-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 64px;
  gap: 30px;
}

.open-status-content {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  background: var(--red);
  border-radius: 10px;
  padding: 18px;
}

.open-status-content > .timer-icon {
  width: 94px;
  height: 94px;
  background: rgba(29, 6, 5, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-status-content > div img {
  width: 50px;
}

.open-status-content > div h2 {
  text-transform: uppercase;
  color: #1d0605b0;
}

.open-status-content > div:nth-child(2) {
  position: relative;
  padding-left: 12px;
  align-self: center;
}

.open-status-content > div:nth-child(2)::before {
  content: "";
  width: 1px;
  height: 100%;
  background: var(--title-black-38);
  display: block;
  position: absolute;
  left: 0;
}

.open-status-content > p {
  font-weight: 700;
}

.open-status-instagram {
  align-self: center;
}

.open-status-instagram > h2 {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .open-status {
    grid-template-columns: 1fr;
  }

  .open-status-instagram {
    justify-self: center;
  }
}